<div class="container-fluid mt-4 ms-4" id="vagasContainer">
    <!-- Filtros -->
    <div class="align-self-end">Filtros</div>
    <div class="d-flex justify-content-between">
        <div class="col-md-4">
            <div class="d-flex justify-content-between gap-4">
                <select class="form-control" name="filtroModalidade" id="filtroModalidade"
                    onchange="filtraVagas('filtroModalidade', 'h6')">
                    <option value="" disabled selected hidden>Modalidade</option>
                    <option value="todas">Todas</option>
                    <option value="Jovem Aprendiz">Jovem Aprendiz</option>
                    <option value="Estágio">Estágio</option>
                    <option value="CLT">CLT</option>
                </select>
                <select class="form-control" name="filtroEmpresa" id="filtroEmpresa"
                    onchange="filtraVagas('filtroEmpresa','h5')">
                    <option value="" disabled selected hidden>Empresa</option>
                    <option value="GlobalSYS">GlobalSYS</option>
                    <option value="Assaí">Assaí</option>
                    <option value="Delfa">Delfa</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 me-6">
            <div class="d-flex">
                <input id="pesquisa" class="form-control mr-sm-2" type="search" placeholder="Pesquisar vagas"
                    aria-label="Search" onkeyup="filtraVagas('pesquisa')">
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="d-flex flex-wrap mt-5" id="meusCards">
        {{#each paginator.data}}
        {{>cardVaga}}
        {{/each}}
    </div>
<<<<<<< HEAD

    <div class="d-flex justify-content-center mt-8">
        <form action="/vaga" method="post">
             <nav aria-label="Page navigation example">
            <input type="hidden" id="totalDePaginas" name="totalDePaginas" value="{{paginator.total_pages}}">
            <input type="hidden" id="paginaAtual" name="paginaAtual" value="{{paginator.page}}">
            <input type="hidden" name="prevPage" id="prevPage" value="{{paginator.pre_page}}">
            <input type="hidden" name="nextPage" id="nextPage" value="{{paginator.next_page}}">
            <ul class="pagination" id="meusBotoes">
            </ul>
        </nav>
        </form>
    </div>

=======

    <div class="d-flex justify-content-center mt-8">
        <form action="/vaga" method="post">
            <nav aria-label="Page navigation example">
                <input type="hidden" id="totalDePaginas" name="totalDePaginas" value="{{paginator.total_pages}}">
                <input type="hidden" id="paginaAtual" name="paginaAtual" value="{{paginator.page}}">
                <ul class="pagination" id="meusBotoes">
                </ul>
            </nav>
        </form>
    </div>

>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
    <!-- Modals -->
    {{#each paginator.data}}
    {{>modalVaga}}
    {{/each}}
</div>

<script>
    function filtraVagas(filtro, hTag) {
        var input, filter, cards, h, i;
        input = document.getElementById(filtro);
        filter = input.value.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        cards = document.getElementById("meusCards");
        h = cards.getElementsByTagName(hTag);
        console.log(h)
        for (i = 0; i < h.length; i++) {
            console.log(h[i].innerText.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(filter))
            if (h[i].innerText.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(filter) > -1) {
                h[i].parentElement.parentElement.parentElement.style.display = "";
            } else {
                h[i].parentElement.parentElement.parentElement.style.display = "none";
            }
        }
    }
</script>

<<<<<<< HEAD
=======
<script id="paginação">
    let i, j, totalPages, buttonGroup, currentPage, botoes, limite, inicio, fim;
    totalPages = parseInt(document.getElementById('totalDePaginas').value);
    buttonGroup = document.getElementById('meusBotoes');
    currentPage =parseInt(document.getElementById('paginaAtual').value);
    //adiciona botoes para cada pagina
    limite = 10;
    inicio = (((currentPage - limite) > 1) ? currentPage - limite : 1);
    fim = (((currentPage + limite) < totalPages) ? currentPage + limite : totalPages);
    //adiciona botoes para cada pagina
    if (totalPages > 1 && currentPage <= totalPages) {
        for (var i = inicio; i <= fim; i++) {
            if (i == currentPage) {
                buttonGroup.innerHTML += `<li class="page-item active"><button type="submit" name="pagina" class="page-link" id="pagina${i}" value=${i}>${i}</button></li>`
            }
            else {
                buttonGroup.innerHTML += `<li class="page-item"><button type="submit" name="pagina" class="page-link" id="pagina${i}" value=${i}>${i}</button></li>`
            }
        }
    }
</script>

>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
<script id="filtros">
    function filtraVagas(filtro) {
        var input, filter, i, j, card, div;
        input = document.getElementById(filtro);
        filter = input.value.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        card = document.getElementsByClassName('card');
        for (i = 0; i < card.length; i++) {
            if (card[i].innerText.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(filter) > -1 || filter == 'TODAS') {
                card[i].parentElement.style.display = "";
            } else {
                card[i].parentElement.style.display = "none";
            }
        }
    }
</script>