<br>
<div>
    <h3 class="text-left px-4">Minhas candidaturas</h3>
</div>

<div class="d-flex px-4 gap-3">
    {{#each candidatura}}
    <div class="card text-center bg-primary" style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h6 class="card-title">{{Empresa}}</h6>
                <h6>{{Modalidade}}</h6>
            </div>
            <br>
            <h4 class="card-text">{{Cargo}}</h4>
            <br>
        </div>
        <div class="card-footer border-0 bg-primary">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{ID}}">
                Ver detalhes
            </button>
        </div>
    </div>
    {{/each}}
</div>


{{#each candidatura}}
<!-- Modal -->
<div class="modal fade" id="{{ID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- cabeçalho -->
            <div class="modal-header text-left border-0">
                <!-- Título -->
                <div class="col">
                    <h3 class="modal-title" id="exampleModalLabel">{{Cargo}}</h3>
                    <h6 class="modal-title" id="exampleModalLabel">{{Empresa}}</h6>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Conteudo -->
            <div class="modal-body border-0">
                <div class="d-flex justify-content-around">
                    <div class="col-md-5">
                        <h5 class="text-center">Sobre a vaga</h5>
                        <p>{{Detalhes.SobreVaga}}</p>
                    </div>
                    <div class="vr"></div>
                    <div class="col-md-5">
                        <h5 class="text-center">Benefícios</h5>
                        <p>{{Detalhes.Vantagens}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <form method="post" action="/user/perfil">
                    <input type="hidden" name="vaga_id" value="{{ID}}">
                    <button type="submit" name="action" value="candidatar" class="btn btn-outline-secondary">Cancelar
                        candidatura</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}