{{>adminMenu}}
<div class="container-xl container-xs mt-5">
    <!-- Filtros -->
    <div class="row align-items-center pe-xl-2">
        <div class="col-xl-2">
            <h5>Nome do candidato</h5>
        </div>
        <form action="/admin/curriculos" method="post" class="col-xl-2 form-group">
            <label for="vaga">Vaga</label>
            <select class="form-control" name="vaga" id="vaga" onchange="this.form.submit()">
                <option value="" disabled selected hidden>Selecione uma opção</option>
                {{#each vagas}}
                <option value="{{ID}}">{{Cargo}}-{{Empresa}}</option>
                {{/each}}
            </select>
        </form>
        <div class="col-xl-2 form-group">
            <div class="d-flex justify-content-end align-items-end gap-1">
                <div class="col">
<<<<<<< HEAD
                    <label for="min" class="form-label">Idade</label>
                    <input id="min" type="number" placeholder="Min" class="form-control" onchange="filtraIdade()">
                </div>
                <div class="col">
                    <input id="max" type="number" placeholder="Max" class="form-control" onchange="filtraIdade()">
=======
                    <label for="idade" class="form-label">Idade</label>
                    <input id="idade" type="number" name="min" placeholder="Min" class="form-control">
                </div>
                <div class="col">
                    <input type="number" placeholder="Max" name="max" class="form-control">
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
                </div>
            </div>
        </div>
        <div class="col-xl-2 form-group">
            <label for="pesquisa" class="form-label">Bairro</label>
            <input id="pesquisa" class="form-control mr-sm-2 aling-self-end" type="search" placeholder="Pesquisar"
                aria-label="Search" onkeyup="filtraCandidatos('pesquisa')">
        </div>
        <div class="col-xl-2 form-group">
            <label for="filtroMunicipio">Município</label>
            <select class="form-control" id="filtroMunicipio" onchange="filtraCandidatos('filtroMunicipio')">
                <option value="" disabled selected hidden>Selecione uma opção</option>
                <option value="todos">Todos</option>
                {{#each municipios}}
                <option value="{{nome}}">{{nome}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-xl-2 form-group">
            <label for="filtroGenero" class="form-label">Gênero</label>
            <select class="form-control" id="filtroGenero" onchange="filtraCandidatos('filtroGenero')">
                <option value="" disabled selected hidden>Selecione uma opção</option>
                <option value="todos">Todos</option>
<<<<<<< HEAD
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="não binário">Não binário</option>
                <option value="não informado">Não informado</option>
=======
                <option value="masculino" selected>Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outros</option>
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
            </select>
        </div>
    </div>
    <br>
    <!-- Candidatos -->
    <div id="candidatos">
        {{#each paginator.data}}
        <div class="row rect-lg mt-3 ps-4 align-items-center" role="button" data-bs-toggle="modal"
<<<<<<< HEAD
            data-bs-target="#id{{ID}}">
=======
            data-bs-target="#{{ID}}">
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
            <div class="col">
                <h5>{{Nome_completo}}</h5>
            </div>
            <div class="col text-center">
<<<<<<< HEAD
                <h5>{{Idade}}</h5>
=======
                <h5>{{Idade}} anos</h5>
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
            </div>
            <div class="col text-center">
                <h5>{{Bairro}}</h5>
            </div>
            <div class="col text-center">
                <h5>{{Município}}</h5>
            </div>
            <div class="col text-center">
                <h5>{{Gênero}}</h5>
            </div>
        </div>
        {{>modalCurriculo}}
        {{/each}}
    </div>

    <div class="d-flex justify-content-center mt-8">
        <form action="/admin/curriculos" method="post">
<<<<<<< HEAD
             <nav aria-label="Page navigation example">
            <input type="hidden" id="totalDePaginas" name="totalDePaginas" value="{{paginator.total_pages}}">
            <input type="hidden" id="paginaAtual" name="paginaAtual" value="{{paginator.page}}">
            <input type="hidden" name="prevPage" id="prevPage" value="{{paginator.pre_page}}">
            <input type="hidden" name="nextPage" id="nextPage" value="{{paginator.next_page}}">
            <ul class="pagination" id="meusBotoes">
            </ul>
        </nav>
=======
            <nav aria-label="Page navigation example">
                <input type="hidden" id="totalDePaginas" name="totalDePaginas" value="{{paginator.total_pages}}">
                <input type="hidden" id="paginaAtual" name="paginaAtual" value="{{paginator.page}}">
                <ul class="pagination" id="meusBotoes">
                </ul>
            </nav>
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
        </form>
    </div>
</div>


<script id="filtros">
    function filtraCandidatos(filtro) {
<<<<<<< HEAD
        let input, filter, candidatos, row;
        candidatos = document.getElementById("candidatos");
        row = candidatos.getElementsByClassName('row');
        input = document.getElementById(filtro);
        filter = input.value.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        for (let i = 0; i < row.length; i++) {
=======
        var input, filter, candidatos, i, j, row, col;
        input = document.getElementById(filtro);
        filter = input.value.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        candidatos = document.getElementById("candidatos");
        row = candidatos.getElementsByClassName('row');
        for (i = 0; i < row.length; i++) {
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
            if (row[i].innerText.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(filter) > -1 || filter == 'TODOS') {
                row[i].style.display = "";
            }
            else {
                row[i].style.display = "none";
            }
        }
    }
<<<<<<< HEAD


    function filtraIdade() {
        let candidatos, row, min, max;
        candidatos = document.getElementById("candidatos");
        row = candidatos.getElementsByClassName('row');
        min = document.getElementById('min').value || -Infinity;
        max = document.getElementById('max').value || Infinity;
        for (let i = 0; i < row.length; i++) {
            let idade = parseInt(row[i].children[1].innerText);
            if (min <= idade && idade <= max) {
                 row[i].classList.remove('d-none')
            } else {
                console.log('add')
                row[i].classList.add('d-none')
            }
        }
    }

=======
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
</script>


<script id="paginação">
<<<<<<< HEAD
    let totalPages, buttonGroup, currentPage, botoes, limite, inicio, fim;
=======
    let i, j, totalPages, buttonGroup, currentPage, botoes, limite, inicio, fim;
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
    totalPages = parseInt(document.getElementById('totalDePaginas').value);
    buttonGroup = document.getElementById('meusBotoes');
    currentPage = parseInt(document.getElementById('paginaAtual').value);
    limite = 10;
    inicio = (((currentPage - limite) > 1) ? currentPage - limite : 1);
    fim = (((currentPage + limite) < totalPages) ? currentPage + limite : totalPages);
    //adiciona botoes para cada pagina
    if (totalPages > 1 && currentPage <= totalPages) {
        for (var i = inicio; i <= fim; i++) {
            if (i == currentPage) {
                buttonGroup.innerHTML += `<li class="page-item active"><button type="submit" name="pagina" class="page-link" id="pagina${i}" value=${i}>${i}</button></li>`
            }
            else {
                buttonGroup.innerHTML += `<li class="page-item"><button type="submit" name="pagina" class="page-link" id="pagina${i}" value=${i}>${i}</button></li>`
            }
        }
    }
</script>