<form method="post" action="/admin/editaVaga" enctype="multipart/form-data">
    <div class="modal fade" id="modalEditarVaga{{ID}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-xl-down modal-xl aling-self-center">
            <div class="modal-content text-primary">
                <!-- Conteudo -->
                <div class="modal-body">
                     <div class="row">
                        <input type="hidden" name="vaga_id" value="{{ID}}">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl form-group">
                            <label class="form-label" for="cargo">Nome da vaga*</label>
                            <input class="form-control" type="text" id="cargo" name="cargo" value="{{Cargo}}" required>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl mt-3 mt-sm-0 form-group">
                            <label class="form-label" for="empresa">Empresa*</label>
                            <input class="form-control" type="text" id="empresa" name="empresa" value="{{Empresa}}"
                                required>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl mt-3 mt-md-0 form-group">
                            <label class="form-label" for="modalidade">Modalidade*</label>
                            <select class="form-control" name="modalidade" id="modalidade" required>
                                <option value="" disabled selected hidden>Selecione</option>
                                <option value="Jovem Aprendiz" {{#when Modalidade 'eq' 'Jovem Aprendiz' }} selected
                                    {{/when}}>Jovem Aprendiz</option>
                                <option value="Estágio" {{#when Modalidade 'eq' 'Estágio' }} selected {{/when}}>Estágio
                                </option>
                                <option value="CLT" {{#when Modalidade 'eq' 'CLT' }} selected {{/when}}>CLT</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl mt-3 mt-xl-0 form-group">
                            <label class="form-label" for="etapa">Etapa*</label>
                            <select class="form-control" name="etapa" id="etapa" required>
                                <option value="" disabled selected hidden>Selecione</option>
                                <option value="Envio de currículos" {{#when Etapa 'eq' 'Envio de currículos' }} selected
                                    {{/when}}>Envio de currículos</option>
                                <option value="Entrevista" {{#when Etapa 'eq' 'Entrevista' }} selected {{/when}}>
                                    Entrevista</option>
                                <option value="Finalizado" {{#when Etapa 'eq' 'Finalizado' }} selected {{/when}}>
                                    Finalizado</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl mt-3 mt-xl-0 form-group align-self-end">
                            <label for="file-uploadEditaVaga{{ID}}" id="label-uploadEditaVaga{{ID}}"
                                class="custom-file-upload align-items-center text-center px-2">
                                <img id="icon" src="/img/icons/imgUpload.svg">
                                Logotipo da empresa
                            </label>
                            <input id="file-uploadEditaVaga{{ID}}" type="file" name="changedLogo"
                                onchange="changeLabel('file-uploadEditaVaga{{ID}}', 'label-uploadEditaVaga{{ID}}')" />
                        </div>

                    </div>
                    <div class="d-flex flex-wrap flex-md-nowrap mt-4 justify-content-between">
                        <div class="col-12 col-md-6">
                            <h3>1. Essa vaga é para você?</h3>
                            <div class="form-group">
                                <label class="form-label" for="sobre_vaga">Sobre a vaga</label>
                                <textarea type="text" class="form-control" id="sobre_vaga"
                                    name="sobre_vaga">{{Detalhes.Sobre_a_vaga}}</textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="responsabilidades">Responsabilidades e
                                    atribuições</label>
                                <textarea type="text" class="form-control " id="responsabilidades"
                                    name="responsabilidades">{{Detalhes.Responsabilidades}}</textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="requisitos">Requisitos e qualificações</label>
                                <textarea type="text" class="form-control" id="requisitos"
                                    name="requisitos">{{Detalhes.Requisitos}}</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <h3>2. Confira a nossa oferta!</h3>
                            <div class="form-group">
                                <label class="form-label" for="vantagens">Benefícios e vantagens</label>
                                <textarea type="text" class="form-control" id="vantagens" name="vantagens"
                                    style="min-height: 148px">{{Detalhes.Vantagens}}</textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="remuneracao">Remuneração e carga horária</label>
                                <textarea type="text" class="form-control" id="remuneracao" name="remuneracao"
                                    style="min-height: 148px">{{Detalhes.Remuneração_e_CH}}</textarea>
                            </div>
                            <br>
                            <h3>3. Conheça a empresa.</h3>
                            <div class="form-group">
                                <label class="form-label" for="sobre_empresa">Sobre a empresa</label>
                                <textarea type="text" class="form-control" id="sobre_empresa" name="sobre_empresa"
                                    style="min-height: 175px">{{Detalhes.Sobre_a_empresa}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-around justify-content-sm-end pe-sm-4">
                    <div class="d-grid col-5 col-sm-4 col-md-3 col-xl-2">
                        <button type="button" class="btn  btn-outline-danger" data-bs-dismiss="modal"
                            aria-label="Close">Cancelar</button>
                    </div>
                    <div class="d-grid col-5 col-sm-4 col-md-3 col-xl-2">
                        <button type="submit" class="btn btn-warning">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>