<!-- Modal -->
<div class="modal fade" id="{{ID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content px-4">
            <!-- cabeçalho -->
            <div class="modal-header">
                <!-- Título -->
                <div class="col">
                    <h3 class="modal-title text-primary">{{Cargo}}</h3>
                    <p class="modal-title">Contratação {{Modalidade}}</p>
                </div>
                <div class="col text-end">
                    <img class="modal-img" src="{{url_logo}}">
                </div>
                <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Conteudo -->
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="col-md-7 d-grid gap-4" style="height: max-content;">
                        <h4 class="text-primary">1. Essa vaga é para você?</h4>
                        <div>
                            <legend>
                                <h5 class="text-primary d-grid gap-2">Sobre a vaga <img style="width: 100%;"
                                        src="/img/icons/linha.svg"></h5>
                            </legend>
                            {{Detalhes.Sobre_a_vaga}}
                        </div>
                        <div>
                            <legend>
                                <h5 class="text-primary d-grid gap-2">Responsabilidades e atribuições <img
                                        style="width: 100%;" src="/img/icons/linha.svg"></h5>
                            </legend>
                            {{Detalhes.Responsabilidades}}
                        </div>
                        <div>
                            <legend>
                                <h5 class="text-primary d-grid gap-2">Requisitos e qualificações
                                    <img style="width: 100%;" src="/img/icons/linha.svg">
                                </h5>
                            </legend>
                            {{Detalhes.Requisitos}}
                        </div>
                    </div>
                    <div class="vr text-primary"></div>
                    <div class="col-md-4 d-grid gap-4" style="height: max-content;">
                        <h4 class="text-primary">2. Confira a nossa oferta!</h4>
                        <div>
                            <legend>
                                <h5 class="text-primary d-grid gap-2">Benfícios e vantagens<img style="width: 100%;"
                                        src="/img/icons/linha2.svg"></h5>
                            </legend>
                            {{Detalhes.Vantagens}}
                        </div>
                        <div>
                            <legend>
                                <h5 class="text-primary d-grid gap-2">Remuneração e carga horária <img
                                        style="width: 100%;" src="/img/icons/linha2.svg"></h5>
                            </legend>
                            {{Detalhes.Remuneração_e_CH}}
                        </div>
                        <div class="accordion" id="accordionEditVaga">
                            <h4 class="text-primary">3.Conheça a empresa.</h4>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="empresaDeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#empresaCollapse" aria-expanded="false"
                                        aria-controls="empresaCollapse">
                                        <h5 class="text-primary">Sobre a empresa <img style="width: 100%;"
                                                src="/img/icons/linha2.svg"></h5>
                                    </button>
                                </h2>
                                <div id="empresaCollapse" class="accordion-collapse collapse"
                                    aria-labelledby="empresaDeading" data-bs-parent="#accordionEditVaga">
                                    <div class="accordion-body">
                                        {{Detalhes.Sobre_a_empresa}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div class="d-grid col-2">
                    <button class="btn btn-danger" data-bs-target="#modalExcluirVaga{{ID}}"
                        data-bs-toggle="modal">Excluir</button>
                </div>
                <div class="d-grid col-2">
                    <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal"
                        data-bs-target="#modalEditarVaga{{ID}}">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalExcluirVaga{{ID}}" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content text-center">
            <div class="modal-body py-7 px-5">
                <h3 class="text-primary"> Tem certeza que deseja excluir a vaga?</h3>
                <br>
                <div class="d-flex justify-content-center gap-8">
                    <form class="d-grid col-2" action="/admin/removeVaga" method="post">
                        <input type="hidden" name="vaga_id" value="{{ID}}">
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                    <div class="d-grid col-2">
                        <button class="btn btn-primary" data-bs-target="#{{ID}}" data-bs-toggle="modal">Não</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
