<!-- Modal -->
<div class="modal fade" id="id{{ID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-h5dden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content px-4">
            <!-- cabeçalh5 -->
            <div class="modal-header">
                <button type="button" class="btn-close align-self-end" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Conteudo -->
            <div class="modal-body">
                <div class="d-flex justify-content-evenly">
                    <div class="col-xl-6">
                        <div class="d-flex justify-content-between">
                            <div class="col-xl-3">
                                {{#if img_perfil}}
                                <img class="perfil-img" src="{{img_perfil}}">
                                {{else}}
                                <img src="/img/icons/foto.svg">
                                {{/if}}
                            </div>
                            <div class="col-xl-8">
                                <h3 class="text-primary"><strong>{{Nome_completo}}</strong></h3>
                                <h5>{{Idade}} anos, Gênero {{Gênero}}</h5>
                                <h4 class="text-primary">Data de nascimento</h4>
                                <h5>{{Data_de_nascimento}}</h5>
                                <h4 class="text-primary">CPF</h4>
                                <h5>{{CPF}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 text-end">
                        <h4 class="text-primary">Contato</h4>
                        <h5>{{Telefone}}</h5>
                        <h5>{{Email}}</h5>
                        <h4 class="text-primary">Endereço</h4>
                        <h5>{{Endereço}}</h5>
                        <h5>{{Bairro}}, {{Município}}</h5>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-evenly">
                    <div class="col-xl-5 d-grid gap-2">
                        <h4 class="text-primary"><strong>Informações Acadêmicas</strong></h4>
                        <h4 class="text-primary">Grau</h4>
                        <h5>{{Dados_academicos.Grau}}</h5>
                        <h4 class="text-primary">Curso</h4>
                        <h5>{{Dados_academicos.Curso}}</h5>
                        <h4 class="text-primary">Instituição</h4>
                        <h5>{{Dados_academicos.instituição}}</h5>
                        <div class="d-flex">
                            <div class="col">
                                <h4 class="text-primary">Início</h4>
                                <h5>{{Dados_academicos.Data_início}}</h5>
                            </div>
                            <div class="col">
                                <h4 class="text-primary">Término</h4>
                                <h5>{{Dados_academicos.Data_término}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="vr text-primary"></div>
                    <div class="col-xl-5 d-grid">
                        <h4 class="text-primary"><strong>Informações Profissionais</strong></h4>
                        <h4 class="text-primary">Modalidade</h4>
                        <h5>{{Dados_profissionais.Modalidade}}</h5>
                        <h4 class="text-primary">Cargo</h4>
                        <h5>{{Dados_profissionais.Cargo}}</h5>
                        <h4 class="text-primary">Empresa</h4>
                        <h5>{{Dados_profissionais.Empresa}}</h5>
                        <div class="d-flex">
                            <div class="col">
                                <h4 class="text-primary">Inicio</h4>
                                <h5>{{Dados_profissionais.Data_início}}</h5>
                            </div>
                            <div class="col">
                                <h4 class="text-primary">Término</h4>
                                <h5>{{Dados_profissionais.Data_término}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>